<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="go-import"
      content="armor64.org git https://github.com/xmit-co/armor64"
    />
    <title>{{ title }}</title>
    <style>
      :root {
        color-scheme: dark light;
        font-family: sans-serif;
      }
      code {
        background-color: light-dark(#ddd, #222);
        word-break: break-all;
      }
      blockquote {
        border-left: 0.2em solid light-dark(#f00, #00f);
        margin-left: 0em;
        padding-left: 0.5em;
      }
      td,
      th {
        border: 1px solid #888;
      }
    </style>
  </head>
  <body>
    {{ content }}
  </body>
</html>
